/* 
CSS for HandsOfClay
*/

body {
  font-family: Harrington, "Times New Roman", serif;
  background-color:white;
  line-height: 125%;
  padding: 0;
  margin: 0;
  font-size: small;
  color: black;
}


h1 {
  font-size: 170%;
}


h2 {
  font-size: 130%;
}

#main_navigation {
  margin-left: 150px;
  margin-right: 150px;
  text-align: center;
}

#main_left {
  width: 140px;
  float: left;
}

#main_left #main_left_hand1 {
  position: absolute;
  top: 200px;
  left: 45px;
}

#main_left #main_left_hand2 {
  position: absolute;
  top: 400px;
  left: 90px;
}

#main_left #main_left_hand3 {
  position: absolute;
  top: 500px;
}

#main_left #main_left_hand4 {
  position: absolute;
  top: 690px;
  left: 85px;
}

#main_right {
  width:140px;
  float:right;
}

#main_right #main_right_hand1 {
  position: absolute;
  top: 220px;
  right: 70px;
}

#main_right #main_right_hand2 {
  position: absolute;
  top: 320px;
  right: 10px;
}

#main_right #main_right_hand3 {
  position: absolute;
  top: 480px;
}

#main_right #main_right_hand4 {
  position: absolute;
  top: 600px;
  right: 20px;
}

#sitebrand {
  font-size: 300%;
  color: #932500;
  text-align: center;
  clear: both;
}

#sitebrand span {
  font-weight: 400;
}

#author {
  font-size: 130%;
  text-align: left;
  color: green;
  margin-top: 20px;
}

#author span {
  font-weight: 400;
}

#subject {
  font-size: 300%;
  color: green;
  text-align: center;
  margin-top: 50px;
}

#subject span {
  font-weight: 400;
}

#navigation {
  text-align: center;
  clear: both;
}

#copyright {
  text-align: right;
  clear: both;
}


#clayhouse {
  float:left;
  margin: 20px;
}

#suppliers {
  font-size: 130%;
  margin: 50px 20px 50px 20px;
}

#suppliers a {
  font-size: 100%;
  margin: 20px;
  color: blue;
}

#suppliers p {
  width: 500px;
  font-size: 100%;
  margin-left: 70px;
  border-bottom: 1px dotted black;
}

#right_images {
  float: right;
  margin-right: 5px;
}

#classes a {
  font-size: 100%;
  color: blue;
}

#classes p {
  width: 300px;
  font-size: 110%;
  margin-left: 20px;
  border-bottom: 1px dotted black;
}

#website_links a {
  font-size: 110%;
  color: blue;
}

#website_links p {
  width: 300px;
  font-size: 110%;
  margin-left: 20px;
  border-bottom: 1px dotted black;
}

#contact_us p {
  width: 300px;
  font-size: 120%;
  margin-left: 20px;
  margin-top:50px;
}

#contact_us a {
  font-size: 110%;
  color: blue;
}
.separator {
  font-size: 170%;
}

table {
  table-layout: fixed;
  border: 3px solid #009933; 
  background-color: #FFFFCC;
  margin-top: 30px;
  margin-bottom: 30px;
}

td {
  border: 1px solid #009933;
  width: 168px;
  height: 124px;
}

a {
  font-size: 170%;
  font-family: "Times New Roman", serif;
  text-decoration: none;
  color: #000000;
}

a:link {
  color: blue;
}

a:visited {
  color: purple;
}

a:hover {
}

